h1 {
    font-size: 72px;
    color:blue;    
    text-align: center;
}        

p {
    font-size: 21px;
    color: black;
}

body {
    background-color: grey;
    text-align: center;
}

ul {
    width: 25%;
    margin: auto;
}

ol {
    width: 15%;
    margin: auto;
}

.description {
    /* font-size: 40; */
    /* color: orange; */
}